/* Universal Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}

/* Shared Style */
.inter {
  font-family: "Inter", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
.btn {
  border: none;
  color: white;
  background-color: #4e47ff;
  padding: 16px 36px;
  border-radius: 10px;
  font-family: "raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: #2ecc71;
  transform: scale(1.05);
  box-shadow: 0 5px 15px #0000004d;
}
header {
  background-image: url(assets/Hero-bg.png);
}

/* Navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.logo {
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}

/* Hero-section Style */
.hero-section {
  padding: 150px 110px;
  text-align: center;
  margin-bottom: 116px;
}
.hero-title {
  font-size: 65px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 37px;
}

/* Action section style */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}
.action-title {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 23px;
}
.action-description {
  font-size: 24px;
  font-weight: 400;
  color: #25243280;
  margin-bottom: 23px;
}
.action-image {
  border-radius: 48px;
}

/* Productive section style */
.productive-section {
  background-color: #4e47ff1a;
  border-radius: 24px;
  padding: 50px 80px;
  text-align: center;
  margin-bottom: 137px;
}
.productive-title {
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 40px;
}
.productive-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productive-card-container h2 {
  font-family: "Inter";
  font-size: 80px;
  font-weight: 700;
  color: #4e47ff;
}
.productive-card-container p {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
}

/* Review section style */
.review-section {
  text-align: center;
  margin-bottom: 137px;
}
.review-section > h2 {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 50px;
}
.review-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  text-align: left;
}
.review-card {
  width: 100%;
  padding: 24px;
  background-color: #ffffff80;
  border-radius: 14px;
  border: 1px solid #f2eded;
}
.review-stars {
  margin-bottom: 24px;
}
.review-card h2 {
  font-size: 24px;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 12px;
}
.review-card > p {
  font-size: 16px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 24px;
}
.review-avatar {
  width: 50px;
  border-radius: 50%;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.reviewer-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.reviewer-details h3 {
  font-size: 16px;
  font-weight: 600;
  color: #757575;
}
.reviewer-details p {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
}

/* Focus section style */
.focus-section {
  padding: 71px 150px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 14px;
  margin-bottom: 100px;
}
.focus-title {
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}
.focus-details {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #00000080;
  margin-bottom: 30px;
}
.focus-image {
  border-radius: 48px;
  margin-top: 30px;
}

/* Newsletter section style */
.newsletter {
  padding: 71px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
  margin-bottom: 14px;
}
.newsletter h2 {
  font-size: 97px;
  font-weight: 700;
  color: #000000;
}
.form-container {
  width: 50%;
}
form {
  font-family: "inter";
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form label {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
form input,
textarea {
  padding: 20px 32px;
  border: 1px solid #d6dded;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
  font-family: "Inter", sans-serif;
  resize: none;
}

/* Footer section style */
footer {
  border-top: 1px solid #0000001a;
  background: white;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.footer-container {
  padding: 100px 350px;
}
footer h1 {
  font-size: 100px;
  font-weight: 900;
  color: #4e47ff;
  margin-bottom: 10px;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  color: #8987a1;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 48px;
}
a {
  text-decoration: none;
  padding: 6px 8px;
  font-size: 16px;
  font-weight: 400;
  color: #8987a1;
  transition: all 0.3s ease;
}
a:hover {
  background-color: #e2dede;
  /* color: white; */
  padding: 6px 8px;
  border-radius: 6px;
}
